In [1]:
import sqlite3
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from IPython.display import display, HTML
import pickle as pkl

In [2]:
db_file = "./data/database.sqlite"
try:
    conn = sqlite3.connect(db_file)
except Exception as e:
    print(e)

In [ ]:
cur  = conn.cursor()
tables = cur.execute("SELECT name FROM sqlite_master WHERE type='table'")
# conn.tables

In [ ]:
# tables.fetchall()

In [ ]:
players = pd.read_sql_query("SELECT * from Player", conn)
match = pd.read_sql_query("SELECT * from Match",conn)
league = pd.read_sql_query("SELECT * from League",conn)
team = pd.read_sql_query("SELECT * from Team",conn)
player_attr = pd.read_sql_query("SELECT * from Player_Attributes",conn)
team_attr = pd.read_sql_query("SELECT * from Team_Attributes",conn)

In [ ]:
num_matches = g.merge(league,left_on='league_id',right_on='id')
num_matches['no_of_matches'] = num_matches['count']
num_matches = num_matches[['name', 'no_of_matches']]

In [ ]:
num_matches

In [ ]:
barca = team_attr.iloc[123]
barca = barca.drop(['id','team_fifa_api_id','team_api_id','date'])
barca = pd.DataFrame(barca)

In [ ]:
# barca.to_html()

<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>FC Barcelona</th>    </tr>  </thead>  <tbody>    <tr>      <th>buildUpPlaySpeed</th>      <td>36</td>    </tr>    <tr>      <th>buildUpPlaySpeedClass</th>      <td>Balanced</td>    </tr>    <tr>      <th>buildUpPlayDribbling</th>      <td>35</td>    </tr>    <tr>      <th>buildUpPlayDribblingClass</th>      <td>Normal</td>    </tr>    <tr>      <th>buildUpPlayPassing</th>      <td>51</td>    </tr>    <tr>      <th>buildUpPlayPassingClass</th>      <td>Mixed</td>    </tr>    <tr>      <th>buildUpPlayPositioningClass</th>      <td>Free Form</td>    </tr>    <tr>      <th>chanceCreationPassing</th>      <td>36</td>    </tr>    <tr>      <th>chanceCreationPassingClass</th>      <td>Normal</td>    </tr>    <tr>      <th>chanceCreationCrossing</th>      <td>49</td>    </tr>    <tr>      <th>chanceCreationCrossingClass</th>      <td>Normal</td>    </tr>    <tr>      <th>chanceCreationShooting</th>      <td>56</td>    </tr>    <tr>      <th>chanceCreationShootingClass</th>      <td>Normal</td>    </tr>    <tr>      <th>chanceCreationPositioningClass</th>      <td>Free Form</td>    </tr>    <tr>      <th>defencePressure</th>      <td>61</td>    </tr>    <tr>      <th>defencePressureClass</th>      <td>Medium</td>    </tr>    <tr>      <th>defenceAggression</th>      <td>65</td>    </tr>    <tr>      <th>defenceAggressionClass</th>      <td>Press</td>    </tr>    <tr>      <th>defenceTeamWidth</th>      <td>65</td>    </tr>    <tr>      <th>defenceTeamWidthClass</th>      <td>Normal</td>    </tr>    <tr>      <th>defenceDefenderLineClass</th>      <td>Cover</td>    </tr>  </tbody></table>

In [ ]:
players[players['player_name'] == 'Lionel Messi']

In [ ]:
# player_attr[player_attr['player_api_id'] == 30981]
messi = player_attr.iloc[102482].drop(['id','player_fifa_api_id','player_api_id','date','preferred_foot','attacking_work_rate',
                              'defensive_work_rate'])

In [ ]:
messi.plot(kind='bar',figsize=(8,8))
plt.savefig('messi.png',bbox_inches='tight')
plt.show()

In [ ]:
match.shape

In [ ]:
g = match.groupby('league_id').count()
g['count'] = g['id']
g = pd.DataFrame(g['count'])

In [ ]:
# league

In [ ]:
g['league_id'] = g.index

In [ ]:
keys = match.keys()
for k in keys:
#     print k

In [17]:
match['home_player_X8'].value_counts(dropna=False)

 6.0    8069
 3.0    6302
 7.0    5991
NaN     1832
 5.0    1603
 8.0     828
 4.0     747
 2.0     584
 9.0      17
 1.0       6
Name: home_player_X8, dtype: int64

# Data Preprocessing

In [17]:
def match_names(team_name):
    return team_name[:-3].strip()

def get_year(date):
    date = pd.to_datetime(date)
    return date.year

In [18]:
event_data = pd.read_csv("./data/event_data.csv")
line_up = pd.read_csv("./data/lineup.csv")
match_data = pd.read_csv("./data/match_data.csv")

match_data['date'] = pd.to_datetime(match_data['date'],format='%m/%d/%y') 

match_data['match_id'] = match_data['temp_id']
match_data.drop('temp_id',axis=1,inplace=True)
event_data['match_id'] = event_data['join_id']
event_data.drop('join_id',axis=1,inplace=True)

In [19]:
match_data.head()

,id,week,home,away,date,winner,score,match_id
0,1,1,Newcastle United FC,Liverpool FC,2014-11-01,1,1 - 0,1510566212502
1,2,1,Arsenal FC,Burnley FC,2014-11-01,1,3 - 0,1510566215494
2,3,1,Chelsea FC,Queens Park Rangers FC,2014-11-01,1,2 - 1,1510566218594
3,4,1,Everton FC,Swansea City A FC,2014-11-01,0,0 - 0,1510566221312
4,5,1,Hull City AFC,Southampton FC,2014-11-01,-1,0 - 1,1510566224838

In [20]:
event_data.head()

   id minute  player_name    event_type event_datacol       match_id
0   1    79'   J. Colback   Yellow Card             H  1510566212502
1   2    73'  Ayoze Pérez          Goal             H  1510566212502
2   3    66'   R. Cabella  Sammy Ameobi             H  1510566212502
3   4    62'   D. Janmaat   Yellow Card             H  1510566212502
4   5    49'   M. Sissoko   Yellow Card             H  1510566212502

In [21]:
# line_up.head()

In [22]:
match_data.head()

,id,week,home,away,date,winner,score,match_id
0,1,1,Newcastle United FC,Liverpool FC,2014-11-01,1,1 - 0,1510566212502
1,2,1,Arsenal FC,Burnley FC,2014-11-01,1,3 - 0,1510566215494
2,3,1,Chelsea FC,Queens Park Rangers FC,2014-11-01,1,2 - 1,1510566218594
3,4,1,Everton FC,Swansea City A FC,2014-11-01,0,0 - 0,1510566221312
4,5,1,Hull City AFC,Southampton FC,2014-11-01,-1,0 - 1,1510566224838

In [23]:
minutes = pd.DataFrame(range(91),columns=['minute'])
match_data['dump'] = [1 for i in range(match_data.shape[0])]
minutes['dump'] = [1 for i in range(minutes.shape[0])]

match_data = pd.merge(match_data,minutes).drop('dump',axis=1)

In [24]:
event_data.dropna(inplace=True,axis=0, how= 'any')
event_data.minute = event_data.minute.astype("str")
for i,row in event_data.iterrows():
    if "+" in event_data.loc[i,('minute')]:
        event_data.loc[i,('minute')] = event_data.loc[i,('minute')][:2]
    else:
        event_data.loc[i,('minute')] = event_data.loc[i,('minute')][:-1]

event_data.minute = event_data.minute.astype("int")
event_data.sort_values(["match_id",'minute'],inplace=True)
event_data.dropna(axis=0,how='any',inplace=True)

In [25]:
# match_data['join_id'] = str(match_data['match_id'])+str(match_data['minute'])
# event_data['join_id'] = str(event_data['match_id'])+str(event_data['minute'])

# event_data.drop_duplicates(subset=["match_id", "minute"], keep='first', inplace=True)
# event_data.head(10)

In [26]:
# match_data.head(20)

In [27]:
minute_data = pd.merge(match_data,event_data,on=["match_id", "minute"],how='left',sort=True)

# minute_data.sort_values(["match_id",'minute'],inplace=True)

# minute_data.head(10)

minute_data = minute_data[minute_data.event_type!='Assist']
minute_data.drop(["id_x", "id_y"], axis=1, inplace=True)

minute_data.reset_index(drop=True, inplace=True)

minute_data['H_Goal'] = 0
minute_data['A_Goal'] = 0

minute_data['H_Y_Card'] = 0
minute_data['A_Y_Card'] = 0

minute_data['H_R_Card'] = 0
minute_data['A_R_Card'] = 0

minute_data['home'] = minute_data['home'].map(match_names)
minute_data['away'] = minute_data['away'].map(match_names)

In [28]:
minute_data.shape

(204538, 17)

In [29]:

match_id = minute_data["match_id"][0]

for i, row in minute_data.iterrows():
    if row.minute == 0:
#         print i
        continue

    if row.match_id != match_id:
        match_id = row.match_id
    minute_data.loc[i, ("H_Goal")] = minute_data.loc[i-1, ("H_Goal")]
    minute_data.loc[i, ("A_Goal")] = minute_data.loc[i-1, ("A_Goal")]
    minute_data.loc[i, ("A_Y_Card")] = minute_data.loc[i-1, ("A_Y_Card")]
    minute_data.loc[i, ("H_Y_Card")] = minute_data.loc[i-1, ("H_Y_Card")]
    minute_data.loc[i, ("A_R_Card")] = minute_data.loc[i-1, ("A_R_Card")]
    minute_data.loc[i, ("H_R_Card")] = minute_data.loc[i-1, ("H_R_Card")]
    
    if row.event_type in ['Goal', 'Penalty Goal']:
        if row.event_datacol == 'H':
            minute_data.loc[i, ("H_Goal")] = minute_data.loc[i, ("H_Goal")]+1
        else:
            minute_data.loc[i, ("A_Goal")] = minute_data.loc[i, ("A_Goal")]+1

    if row.event_type == 'Own Goal':
        if row.event_datacol == 'A':
            minute_data.loc[i, ("H_Goal")] = minute_data.loc[i, ("H_Goal")]+1
        else:
            minute_data.loc[i, ("A_Goal")] = minute_data.loc[i, ("A_Goal")]+1

    if row.event_type == 'Yellow Card':
        if row.event_datacol == 'H':
            minute_data.loc[i, ("H_Y_Card")] = minute_data.loc[i, ("H_Y_Card")]+1
        else:
            minute_data.loc[i, ("A_Y_Card")] = minute_data.loc[i, ("A_Y_Card")]+1

    if row.event_type == 'Red Card':
        if row.event_datacol == 'H':
            minute_data.loc[i, ("H_R_Card")] = minute_data.loc[i, ("H_R_Card")]+1
        else:
            minute_data.loc[i, ("A_R_Card")] = minute_data.loc[i, ("A_R_Card")]+1

0
92
185
276
368
460
553
644
735
827
918
1012
1107
1200
1292
1385
1477
1568
1660
1752
1846
1938
2031
2122
2214
2306
2398
2491
2582
2674
2765
2856
2951
3043
3135
3230
3321
3413
3506
3597
3691
3782
3873
3964
4056
4147
4238
4329
4420
4514
4605
4698
4789
4881
4972
5064
5155
5247
5338
5429
5520
5611
5702
5795
5890
5982
6074
6165
6260
6352
6445
6536
6627
6718
6810
6902
6995
7087
7178
7271
7365
7456
7547
7638
7730
7822
7915
8006
8097
8189
8281
8373
8464
8556
8648
8739
8834
8927
9018
9112
9204
9296
9388
9479
9570
9663
9754
9845
9936
10029
10120
10211
10303
10395
10486
10579
10670
10764
10855
10949
11041
11133
11224
11319
11411
11502
11594
11685
11778
11869
11960
12052
12144
12235
12327
12419
12510
12602
12693
12785
12876
12970
13062
13153
13245
13336
13427
13519
13612
13703
13796
13888
13981
14073
14165
14259
14351
14442
14533
14626
14717
14809
14900
14992
15083
15174
15265
15357
15449
15541
15634
15726
15817
15908
16000
16092
16186
16278
16370
16462
16553
16645
16736
16829
16921
17019
17112
17206
17297
17388
17480
17572
17665
17758
17849
17941
18033
18126
18220
18314
18405
18496
18587
18678
18770
18862
18955
19047
19138
19229
19321
19413
19504
19596
19687
19780
19871
19962
20054
20146
20238
20330
20421
20512
20607
20700
20792
20883
20975
21067
21158
21251
21344
21437
21531
21623
21717
21810
21901
21993
22086
22177
22269
22361
22453
22546
22639
22731
22822
22914
23005
23096
23188
23280
23372
23463
23555
23646
23737
23828
23921
24013
24106
24200
24292
24384
24476
24567
24658
24749
24840
24933
25024
25116
25208
25302
25395
25486
25577
25670
25763
25854
25946
26038
26131
26222
26314
26406
26500
26592
26684
26777
26870
26963
27056
27148
27240
27333
27425
27516
27607
27698
27791
27883
27977
28068
28159
28252
28344
28435
28527
28622
28713
28805
28896
28987
29079
29173
29265
29357
29450
29543
29636
29730
29822
29915
30006
30098
30189
30281
30375
30469
30562
30653
30745
30837
30929
31021
31113
31206
31299
31390
31481
31572
31663
31755
31848
31940
32033
32124
32217
32309
32401
32492
32583
32674
32767
32861
32953
33044
33136
33227
33318
33411
33503
33595
33687
33780
33872
33963
34056
34147
34242
34334
34427
34521
34613
34704
34796
34890
34981
35072
35164
35256
35347
35438
35529
35621
35712
35803
35898
35991
36083
36174
36266
36357
36454
36546
36637
36731
36822
36914
37005
37096
37187
37278
37369
37461
37555
37647
37739
37831
37922
38015
38106
38197
38289
38381
38473
38566
38657
38750
38841
38933
39025
39119
39211
39302
39396
39487
39579
39670
39762
39853
39946
40038
40130
40222
40314
40405
40496
40587
40679
40770
40862
40953
41047
41139
41230
41322
41414
41506
41598
41691
41783
41874
41969
42061
42152
42243
42336
42430
42521
42612
42705
42797
42888
42980
43074
43165
43256
43347
43440
43532
43625
43718
43811
43902
43997
44090
44182
44274
44367
44458
44550
44643
44734
44826
44918
45012
45106
45197
45292
45383
45474
45565
45657
45749
45840
45933
46025
46117
46209
46302
46394
46485
46576
46668
46760
46851
46942
47035
47126
47219
47312
47404
47496
47587
47678
47770
47864
47956
48050
48144
48235
48327
48420
48511
48603
48697
48789
48881
48974
49065
49156
49247
49339
49431
49523
49615
49709
49801
49894
49985
50077
50169
50264
50355
50446
50537
50630
50723
50814
50905
50997
51089
51180
51274
51367
51458
51550
51641
51732
51827
51918
52011
52104
52198
52292
52385
52478
52569
52660
52751
52845
52938
53029
53123
53215
53307
53398
53490
53582
53675
53768
53861
53952
54043
54136
54227
54318
54409
54502
54594
54686
54778
54873
54964
55055
55147
55238
55331
55425
55517
55608
55699
55790
55881
55973
56064
56155
56246
56339
56430
56523
56617
56709
56800
56892
56985
57078
57170
57264
57356
57447
57538
57630
57723
57817
57910
58001
58092
58187
58278
58371
58464
58559
58651
58744
58835
58926
59017
59108
59201
59293
59384
59475
59567
59662
59753
59846
59938
60030
60122
60213
60307
60401
60495
60586
60678
60769
60861
60952
61044
61137
61228
61320
61413
61506
61598
61690
61781
61873
61964
62056
62153
62244
62336
62429
62520
62613
62704
62798
62890
62982
63075
63166
63258
63350
63443
63534
63625
63717
63809
63901
63993
64084
64175
64266
64359
64450
64541
64633
64726
64819
64911
65002
65094
65186
65278
65370
65462
65557
65649
65741
65833
65926
66017
66109
66200
66291
66384
66476
66567
66661
66752
66845
66938
67029
67120
67211
67304
67398
67490
67583
67675
67767
67859
67952
68043
68134
68225
68316
68408
68501
68593
68685
68776
68868
68960
69053
69145
69236
69330
69421
69513
69605
69697
69788
69881
69974
70067
70158
70250
70342
70434
70526
70617
70709
70802
70893
70987
71080
71172
71266
71359
71451
71542
71633
71726
71817
71908
72002
72093
72185
72277
72370
72462
72553
72645
72739
72831
72923
73014
73109
73203
73295
73388
73480
73571
73663
73755
73847
73938
74029
74121
74213
74305
74397
74490
74582
74675
74767
74858
74950
75041
75133
75225
75317
75409
75501
75593
75687
75780
75872
75964
76057
76148
76241
76333
76425
76516
76607
76700
76792
76885
76977
77068
77161
77255
77346
77439
77530
77621
77713
77808
77900
77991
78082
78174
78265
78357
78451
78544
78636
78728
78820
78911
79002
79095
79186
79279
79370
79461
79553
79645
79736
79830
79921
80013
80105
80196
80289
80380
80473
80565
80658
80749
80840
80933
81028
81121
81212
81308
81400
81493
81585
81677
81772
81864
81956
82048
82140
82234
82326
82418
82509
82601
82694
82785
82876
82971
83063
83155
83246
83338
83431
83523
83615
83706
83799
83891
83982
84073
84166
84258
84349
84442
84536
84629
84721
84812
84903
84995
85087
85180
85271
85366
85457
85550
85643
85737
85828
85920
86013
86104
86196
86288
86379
86472
86564
86658
86749
86841
86932
87025
87118
87212
87304
87396
87488
87579
87670
87761
87853
87947
88040
88133
88228
88320
88413
88506
88598
88690
88782
88875
88966
89059
89152
89245
89337
89428
89521
89612
89704
89796
89888
89982
90075
90167
90260
90351
90442
90535
90629
90721
90815
90906
90999
91092
91183
91274
91366
91460
91552
91644
91735
91828
91921
92015
92108
92200
92293
92385
92477
92573
92664
92756
92848
92940
93031
93122
93217
93309
93401
93494
93586
93679
93770
93863
93956
94049
94141
94233
94327
94420
94512
94606
94702
94795
94886
94977
95071
95162
95254
95347
95440
95531
95622
95714
95806
95899
95993
96086
96177
96269
96361
96452
96544
96636
96728
96820
96911
97003
97096
97187
97278
97372
97468
97560
97651
97743
97835
97928
98021
98113
98205
98297
98388
98481
98575
98668
98760
98852
98946
99038
99131
99223
99317
99410
99501
99593
99685
99776
99868
99962
100054
100145
100238
100329
100423
100515
100606
100697
100790
100882
100974
101065
101156
101250
101341
101433
101524
101615
101707
101798
101889
101981
102075
102169
102262
102353
102445
102539
102630
102721
102812
102903
102996
103088
103179
103273
103366
103459
103551
103642
103734
103826
103919
104011
104104
104197
104289
104382
104473
104565
104657
104749
104840
104931
105022
105113
105205
105298
105390
105482
105573
105664
105755
105846
105939
106032
106123
106214
106306
106397
106490
106581
106672
106763
106855
106947
107039
107130
107222
107314
107405
107497
107589
107682
107773
107866
107957
108049
108141
108234
108325
108416
108507
108599
108692
108783
108875
108966
109057
109149
109241
109332
109425
109516
109610
109701
109793
109887
109980
110071
110164
110257
110350
110442
110534
110627
110719
110812
110904
110995
111087
111178
111271
111362
111454
111545
111636
111729
111821
111912
112005
112098
112189
112281
112373
112464
112556
112647
112740
112834
112926
113017
113108
113200
113293
113386
113477
113569
113660
113753
113844
113936
114029
114122
114216
114309
114402
114495
114588
114679
114771
114863
114956
115049
115145
115237
115329
115423
115515
115607
115699
115792
115883
115977
116069
116162
116255
116349
116442
116535
116628
116720
116811
116903
116994
117087
117179
117272
117367
117459
117551
117643
117736
117829
117921
118014
118105
118196
118287
118378
118469
118565
118658
118750
118842
118934
119025
119117
119208
119300
119393
119485
119577
119670
119763
119856
119950
120042
120133
120224
120316
120407
120501
120592
120683
120774
120867
120959
121050
121141
121233
121327
121419
121511
121602
121694
121785
121876
121967
122058
122150
122242
122334
122425
122517
122609
122702
122794
122885
122978
123070
123161
123253
123345
123436
123529
123621
123714

123805
123898
123989
124081
124172
124265
124356
124448
124539
124632
124724
124816
124910
125003
125095
125186
125278
125369
125460
125551
125644
125735
125826
125920
126014
126106
126197
126288
126382
126474
126566
126657
126748
126842
126936
127028
127120
127211
127304
127396
127487
127579
127670
127761
127853
127945
128037
128131
128224
128316
128408
128502
128594
128687
128778
128870
128961
129054
129146
129240
129331
129425
129516
129610
129703
129797
129888
129980
130071
130163
130256
130348
130439
130532
130623
130715
130807
130898
130991
131082
131174
131266
131359
131451
131542
131634
131725
131817
131909
132002
132095
132187
132280
132374
132468
132560
132652
132745
132837
132928
133020
133112
133203
133296
133387
133481
133573
133667
133759
133852
133943
134034
134127
134221
134312
134404
134495
134586
134678
134772
134864
134957
135048
135140
135232
135325
135416
135507
135598
135693
135786
135878
135970
136061
136153
136246
136341
136432
136524
136617
136710
136802
136893
136984
137075
137167
137259
137350
137441
137533
137625
137716
137807
137899
137990
138082
138174
138266
138357
138449
138542
138634
138725
138816
138907
139000
139092
139183
139275
139366
139458
139549
139640
139732
139825
139919
140013
140105
140197
140288
140382
140474
140567
140660
140751
140843
140937
141030
141122
141213
141304
141395
141486
141578
141669
141762
141853
141945
142039
142132
142224
142316
142409
142502
142594
142686
142777
142869
142960
143052
143143
143235
143328
143420
143511
143604
143695
143786
143877
143969
144061
144152
144244
144337
144429
144521
144612
144704
144795
144887
144978
145070
145162
145254
145346
145437
145530
145623
145714
145806
145897
145989
146081
146172
146264
146356
146448
146539
146630
146722
146814
146906
146998
147090
147181
147272
147364
147457
147549
147643
147736
147829
147924
148018
148109
148201
148293
148384
148475
148566
148659
148752
148844
148935
149026
149119
149210
149302
149394
149488
149580
149672
149763
149854
149945
150037
150130
150223
150314
150405
150496
150587
150681
150775
150866
150957
151049
151141
151233
151326
151421
151513
151605
151699
151792
151883
151979
152071
152163
152254
152346
152438
152530
152621
152712
152804
152897
152989
153080
153172
153263
153355
153447
153539
153632
153724
153815
153909
154001
154092
154183
154274
154365
154460
154552
154650
154744
154836
154928
155019
155110
155201
155292
155387
155479
155570
155661
155753
155845
155936
156029
156120
156214
156306
156398
156490
156581
156675
156767
156859
156951
157043
157136
157227
157320
157411
157503
157595
157688
157780
157875
157966
158057
158150
158241
158333
158425
158518
158611
158702
158794
158888
158980
159071
159164
159257
159349
159443
159535
159626
159718
159810
159902
159993
160085
160178
160270
160364
160456
160549
160642
160738
160829
160920
161013
161105
161197
161290
161383
161476
161568
161659
161750
161841
161932
162025
162116
162208
162301
162392
162483
162574
162665
162757
162848
162940
163032
163123
163215
163308
163400
163493
163586
163678
163770
163862
163954
164046
164138
164231
164324
164415
164507
164599
164691
164784
164876
164968
165060
165151
165242
165333
165424
165517
165609
165700
165793
165885
165976
166068
166165
166256
166349
166441
166534
166625
166718
166809
166901
166992
167085
167176
167267
167359
167451
167543
167636
167728
167821
167913
168004
168096
168188
168281
168375
168467
168560
168652
168743
168835
168928
169021
169114
169208
169299
169390
169482
169573
169667
169759
169850
169949
170041
170133
170224
170317
170409
170501
170593
170690
170783
170874
170965
171057
171149
171241
171333
171427
171520
171613
171707
171799
171892
171983
172074
172165
172257
172350
172441
172532
172624
172717
172809
172902
172996
173088
173183
173275
173366
173457
173548
173639
173732
173825
173919
174012
174103
174195
174288
174381
174476
174567
174658
174751
174844
174935
175027
175120
175212
175303
175396
175488
175579
175670
175762
175855
175946
176037
176130
176221
176315
176408
176500
176591
176682
176778
176870
176961
177052
177144
177235
177326
177419
177512
177605
177698
177790
177882
177974
178067
178161
178253
178347
178441
178534
178627
178720
178813
178905
178997
179088
179181
179272
179364
179455
179547
179638
179730
179821
179912
180003
180095
180187
180279
180370
180461
180552
180643
180735
180826
180917
181010
181104
181196
181288
181379
181471
181564
181655
181748
181839
181930
182023
182115
182206
182298
182390
182483
182575
182668
182761
182854
182945
183038
183129
183220
183311
183403
183495
183588
183679
183771
183864
183956
184047
184138
184232
184325
184417
184511
184602
184693
184787
184879
184971
185063
185155
185246
185337
185428
185521
185612
185703
185795
185888
185981
186072
186163
186256
186349
186440
186532
186625
186717
186810
186901
186993
187084
187178
187271
187365
187457
187552
187644
187737
187831
187922
188015
188106
188199
188291
188384
188475
188566
188657
188749
188841
188934
189026
189120
189213
189306
189398
189490
189581
189673
189765
189858
189950
190041
190132
190223
190318
190410
190501
190593
190685
190777
190869
190961
191052
191147
191239
191332
191425
191517
191609
191701
191792
191883
191977
192069
192163
192255
192347
192439
192530
192622
192714
192805
192899
192991
193082
193176
193269
193361
193454
193546
193637
193728
193820
193912
194004
194098
194191
194283
194374
194467
194559
194652
194744
194836
194927
195021
195113
195205
195296
195388
195480
195572
195665
195756
195849
195942
196035
196128
196220
196311
196403
196496
196588
196679
196771
196862
196954
197046
197137
197228
197321
197412
197503
197595
197689
197783
197875
197967
198060
198151
198244
198338
198429
198521
198613
198706
198799
198894
198986
199078
199170
199263
199356
199449
199542
199637
199728
199820
199913
200007
200100
200193
200285
200377
200470
200561
200654
200746
200838
200931
201023
201114
201205
201297
201389
201482
201575
201667
201761
201852
201945
202036
202131
202224
202317
202411
202502
202594
202686
202781
202874
202965
203057
203150
203241
203336
203428
203521
203613
203706
203802
203894
203986
204079
204170
204262
204354
204447

In [30]:
# event_data.head(95)

In [57]:
if not os.path.exists("./data/minute/200914.pkl"):
    with open("./data/minute/200914.pkl","wb") as f:
        pkl.dump(minute_data,f)

else:
    with open("./data/minute/200914.pkl") as file:
        minute_data = pkl.load(file)

In [58]:
minute_data.head()

,week,home,away,date,winner,score,match_id,minute,player_name,event_type,event_datacol,H_Goal,A_Goal,H_Y_Card,A_Y_Card,H_R_Card,A_R_Card
0,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,0,NaN,NaN,NaN,0,0,0,0,0,0
1,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,1,NaN,NaN,NaN,0,0,0,0,0,0
2,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,2,NaN,NaN,NaN,0,0,0,0,0,0
3,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,3,NaN,NaN,NaN,0,0,0,0,0,0
4,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,4,NaN,NaN,NaN,0,0,0,0,0,0

In [34]:
db_file = "./data/database.sqlite"
try:
    conn = sqlite3.connect(db_file)
except Exception as e:
    print(e)
    
cur  = conn.cursor()
tables = cur.execute("SELECT name FROM sqlite_master WHERE type='table'")

players = pd.read_sql_query("SELECT * from Player", conn)
match = pd.read_sql_query("SELECT * from Match",conn)
league = pd.read_sql_query("SELECT * from League",conn)
team = pd.read_sql_query("SELECT * from Team",conn)
player_attr = pd.read_sql_query("SELECT * from Player_Attributes",conn)
team_attr = pd.read_sql_query("SELECT * from Team_Attributes",conn)

In [35]:
minute_data.tail(100)

,week,home,away,date,winner,score,match_id,minute,player_name,event_type,event_datacol,H_Goal,A_Goal,H_Y_Card,A_Y_Card,H_R_Card,A_R_Card
204438,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,82,NaN,NaN,NaN,0,1,0,0,0,0
204439,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,83,NaN,NaN,NaN,0,1,0,0,0,0
204440,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,84,NaN,NaN,NaN,0,1,0,0,0,0
204441,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,85,NaN,NaN,NaN,0,1,0,0,0,0
204442,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,86,NaN,NaN,NaN,0,1,0,0,0,0
204443,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,87,C. Gardner,Yellow Card,A,0,1,0,1,0,0
204444,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,88,V. Anichebe,S. Berahino,A,0,1,0,1,0,0
204445,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,89,NaN,NaN,NaN,0,1,0,1,0,0
204446,1,Leicester City,West Bromwich Albion,2014-11-01,-1,0 - 1,1510605472386,90,C. Gamboa,S. Pocognoli,A,0,1,0,1,0,0
204447,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,0,NaN,NaN,NaN,0,0,0,0,0,0
204448,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,1,NaN,NaN,NaN,0,0,0,0,0,0
204449,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,2,NaN,NaN,NaN,0,0,0,0,0,0
204450,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,3,NaN,NaN,NaN,0,0,0,0,0,0
204451,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,4,NaN,NaN,NaN,0,0,0,0,0,0
204452,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,5,NaN,NaN,NaN,0,0,0,0,0,0
204453,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,6,NaN,NaN,NaN,0,0,0,0,0,0
204454,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,7,NaN,NaN,NaN,0,0,0,0,0,0
204455,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,8,NaN,NaN,NaN,0,0,0,0,0,0
204456,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,9,NaN,NaN,NaN,0,0,0,0,0,0
204457,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,10,NaN,NaN,NaN,0,0,0,0,0,0
204458,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,11,NaN,NaN,NaN,0,0,0,0,0,0
204459,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,12,NaN,NaN,NaN,0,0,0,0,0,0
204460,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,13,NaN,NaN,NaN,0,0,0,0,0,0
204461,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,14,NaN,NaN,NaN,0,0,0,0,0,0
204462,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,15,NaN,NaN,NaN,0,0,0,0,0,0
204463,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,16,NaN,NaN,NaN,0,0,0,0,0,0
204464,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,17,NaN,NaN,NaN,0,0,0,0,0,0
204465,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,18,NaN,NaN,NaN,0,0,0,0,0,0
204466,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,19,NaN,NaN,NaN,0,0,0,0,0,0
204467,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,20,NaN,NaN,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204508,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,61,NaN,NaN,NaN,2,1,1,0,0,0
204509,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,62,NaN,NaN,NaN,2,1,1,0,0,0
204510,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,63,NaN,NaN,NaN,2,1,1,0,0,0
204511,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,64,NaN,NaN,NaN,2,1,1,0,0,0
204512,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,65,NaN,NaN,NaN,2,1,1,0,0,0
204513,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,66,J. Collins,Yellow Card,A,2,1,1,1,0,0
204514,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,67,NaN,NaN,NaN,2,1,1,1,0,0
204515,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,68,K. Nolan,M. Noble,A,2,1,1,1,0,0
204516,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,69,NaN,NaN,NaN,2,1,1,1,0,0
204517,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,70,NaN,NaN,NaN,2,1,1,1,0,0
204518,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,71,NaN,NaN,NaN,2,1,1,1,0,0
204519,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,72,NaN,NaN,NaN,2,1,1,1,0,0
204520,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,73,S. Downing,Goal,A,2,2,1,1,0,0
204521,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,74,NaN,NaN,NaN,2,2,1,1,0,0
204522,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,75,NaN,NaN,NaN,2,2,1,1,0,0
204523,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,76,NaN,NaN,NaN,2,2,1,1,0,0
204524,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,77,NaN,NaN,NaN,2,2,1,1,0,0
204525,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,78,NaN,NaN,NaN,2,2,1,1,0,0
204526,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,79,NaN,NaN,NaN,2,2,1,1,0,0
204527,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,80,NaN,NaN,NaN,2,2,1,1,0,0
204528,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,81,NaN,NaN,NaN,2,2,1,1,0,0
204529,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,82,C. Adam,Bojan,H,2,2,1,1,0,0
204530,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,83,NaN,NaN,NaN,2,2,1,1,0,0
204531,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,84,NaN,NaN,NaN,2,2,1,1,0,0
204532,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,85,NaN,NaN,NaN,2,2,1,1,0,0
204533,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,86,NaN,NaN,NaN,2,2,1,1,0,0
204534,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,87,NaN,NaN,NaN,2,2,1,1,0,0
204535,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,88,NaN,NaN,NaN,2,2,1,1,0,0
204536,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,89,NaN,NaN,NaN,2,2,1,1,0,0
204537,1,Stoke City,West Ham United,2014-11-01,0,2 - 2,1510605474644,90,NaN,NaN,NaN,2,2,1,1,0,0

In [36]:
# league

In [37]:
epl_matches = match[match['league_id'] == 1729]
epl_matches = pd.merge(epl_matches,team,left_on="home_team_api_id",right_on="team_api_id")
epl_matches['home_team'] = epl_matches['team_long_name']
epl_matches.drop(['id_y','team_api_id','team_fifa_api_id','team_long_name', 'team_short_name'],axis=1,inplace=True)

epl_matches = pd.merge(epl_matches,team,left_on="away_team_api_id",right_on="team_api_id")
epl_matches['away_team'] = epl_matches['team_long_name']
epl_matches.drop(['id','team_api_id','team_fifa_api_id','team_long_name', 'team_short_name'],axis=1,inplace=True)

epl_matches.drop(['id_x','country_id','league_id','home_team_goal','away_team_goal'],axis=1,inplace=True)

# epl_matches['date'] = epl_matches['date'].map(parse_time)

epl_matches['date'] = pd.to_datetime(epl_matches['date'])

In [38]:
epl_matches.head()

,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA,home_team,away_team
0,2008/2009,1,2008-08-17,489042,10260,10261,1.0,2.0,4.0,6.0,...,5.50,12.00,1.30,4.75,10.0,1.29,4.50,11.0,Manchester United,Newcastle United
1,2010/2011,1,2010-08-16,839802,10260,10261,1.0,2.0,4.0,6.0,...,6.00,15.00,1.23,5.50,12.0,1.22,5.50,13.0,Manchester United,Newcastle United
2,2011/2012,13,2011-11-26,1024845,10260,10261,1.0,2.0,4.0,6.0,...,4.75,9.50,1.35,4.50,8.5,1.40,4.33,8.5,Manchester United,Newcastle United
3,2012/2013,19,2012-12-26,1229300,10260,10261,1.0,2.0,4.0,6.0,...,6.50,13.00,1.22,6.50,11.0,1.25,6.00,10.0,Manchester United,Newcastle United
4,2013/2014,15,2013-12-07,1474518,10260,10261,1.0,2.0,4.0,6.0,...,4.50,6.25,NaN,NaN,NaN,NaN,NaN,NaN,Manchester United,Newcastle United

In [39]:
minute_data.head()

,week,home,away,date,winner,score,match_id,minute,player_name,event_type,event_datacol,H_Goal,A_Goal,H_Y_Card,A_Y_Card,H_R_Card,A_R_Card
0,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,0,NaN,NaN,NaN,0,0,0,0,0,0
1,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,1,NaN,NaN,NaN,0,0,0,0,0,0
2,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,2,NaN,NaN,NaN,0,0,0,0,0,0
3,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,3,NaN,NaN,NaN,0,0,0,0,0,0
4,1,Newcastle United,Liverpool,2014-11-01,1,1 - 0,1510566212502,4,NaN,NaN,NaN,0,0,0,0,0,0

In [40]:
train = pd.merge(epl_matches,minute_data,left_on=['date','home_team','away_team'],right_on=['date','home','away'])

In [41]:
temp = team_attr.copy()

In [42]:
# team_attr.head(10)
team_attr.loc[0,:]

id                                                  1
team_fifa_api_id                                  434
team_api_id                                      9930
date                              2010-02-22 00:00:00
buildUpPlaySpeed                                   60
buildUpPlaySpeedClass                        Balanced
buildUpPlayDribbling                              NaN
buildUpPlayDribblingClass                      Little
buildUpPlayPassing                                 50
buildUpPlayPassingClass                         Mixed
buildUpPlayPositioningClass                 Organised
chanceCreationPassing                              60
chanceCreationPassingClass                     Normal
chanceCreationCrossing                             65
chanceCreationCrossingClass                    Normal
chanceCreationShooting                             55
chanceCreationShootingClass                    Normal
chanceCreationPositioningClass              Organised
defencePressure                                    50
defencePressureClass                           Medium
defenceAggression                                  55
defenceAggressionClass                          Press
defenceTeamWidth                                   45
defenceTeamWidthClass                          Normal
defenceDefenderLineClass                        Cover
Name: 0, dtype: object

In [43]:
# temp.sort_values('date',ascending=False,inplace=True)
# temp.drop_duplicates(subset=['team_api_id','date'],inplace=True)

In [44]:
temp.head()

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [45]:
for i in temp:
    print "\n",i
    print temp[i].value_counts(dropna=False)
    print "\n"

id
1458    1
479     1
481     1
482     1
483     1
484     1
485     1
486     1
487     1
488     1
489     1
490     1
491     1
492     1
493     1
494     1
495     1
496     1
497     1
498     1
499     1
480     1
478     1
501     1
477     1
458     1
459     1
460     1
461     1
462     1
       ..
994     1
995     1
996     1
997     1
998     1
999     1
1000    1
981     1
980     1
979     1
968     1
960     1
961     1
962     1
963     1
964     1
965     1
966     1
967     1
969     1
978     1
970     1
971     1
972     1
973     1
974     1
975     1
976     1
977     1
1       1
Name: id, Length: 1458, dtype: int64



team_fifa_api_id
301       8
479       6
247       6
245       6
244       6
243       6
242       6
241       6
240       6
237       6
236       6
234       6
232       6
231       6
229       6
226       6
219       6
217       6
210       6
192       6
190       6
189       6
181       6
110770    6
175       6
171       6
169       6
166       6
165       6
246       6
         ..
324       3
112513    2
635       2
111082    2
647       2
112512    2
180       2
682       2
1900      2
1805      2
100737    2
112409    2
110316    2
1754      2
100632    2
467       2
1714      2
110502    1
110565    1
2013      1
10018     1
546       1
1564      1
100626    1
79        1
286       1
100646    1
100741    1
1898      1
182       1
Name: team_fifa_api_id, Length: 285, dtype: int64



team_api_id
8191      6
8668      6
8661      6
8659      6
8658      6
8655      6
8654      6
8650      6
8640      6
8639      6
8636      6
8635      6
8634      6
8633      6
8611      6
8603      6
8602      6
8600      6
8597      6
8593      6
8592      6
8588      6
8586      6
8583      6
8576      6
8571      6
8564      6
8667      6
8673      6
8559      6
         ..
158085    2
8027      2
6433      2
208931    2
8526      2
8020      2
8284      2
8573      2
8031      2
8322      2
6391      2
8426      2
7788      2
9996      2
8348      2
9809      2
8019      1
9999      1
8262      1
8242      1
6421      1
6547      1
8596      1
8457      1
274581    1
8613      1
6631      1
6351      1
8614      1
9824      1
Name: team_api_id, Length: 288, dtype: int64



date
2015-09-10 00:00:00    245
2011-02-22 00:00:00    244
2014-09-19 00:00:00    244
2013-09-20 00:00:00    242
2012-02-22 00:00:00    242
2010-02-22 00:00:00    241
Name: date, dtype: int64



buildUpPlaySpeed
50    96
30    70
55    67
45    66
65    64
70    63
52    62
60    59
48    53
53    47
47    42
49    40
54    39
35    39
67    39
58    38
66    38
46    38
64    37
63    36
40    33
59    29
38    27
61    26
57    26
51    24
56    24
62    24
68    22
42    18
41    18
44    15
69    13
36    13
34    12
43    12
39    12
37    10
33     9
75     8
73     7
72     6
71     6
31     4
25     4
24     3
32     3
20     3
76     3
78     2
29     2
26     2
74     1
28     1
77     1
23     1
80     1
Name: buildUpPlaySpeed, dtype: int64



buildUpPlaySpeedClass
Balanced    1184
Fast         172
Slow         102
Name: buildUpPlaySpeedClass, dtype: int64



buildUpPlayDribbling
NaN      969
 52.0     34
 48.0     32
 55.0     28
 49.0     24
 53.0     22
 50.0     20
 51.0     18
 40.0     17
 54.0     17
 47.0     16
 46.0     16
 56.0     15
 42.0     14
 45.0     14
 41.0     13
 36.0     13
 32.0     12
 35.0     12
 44.0     10
 43.0     10
 60.0      9
 58.0      9
 62.0      9
 34.0      8
 59.0      8
 61.0      7
 69.0      7
 37.0      7
 57.0      6
 33.0      6
 38.0      6
 39.0      6
 65.0      5
 70.0      5
 29.0      4
 31.0      4
 66.0      4
 71.0      3
 28.0      3
 67.0      3
 63.0      2
 24.0      2
 64.0      2
 30.0      2
 77.0      1
 68.0      1
 26.0      1
 27.0      1
 74.0      1
Name: buildUpPlayDribbling, dtype: int64



buildUpPlayDribblingClass
Little    1004
Normal     433
Lots        21
Name: buildUpPlayDribblingClass, dtype: int64



buildUpPlayPassing
50    118
30     81
52     75
55     69
35     65
48     62
54     59
40     58
45     58
53     51
38     44
70     43
44     40
49     37
51     36
65     35
60     33
47     31
37     31
56     30
57     29
46     29
39     28
36     28
41     27
43     26
42     21
62     21
58     19
59     17
67     14
66     13
33     13
64     12
34     12
63     11
32     11
61     11
69     10
72      9
73      6
29      4
68      4
27      3
75      3
23      3
26      3
25      2
31      2
28      2
24      2
22      1
80      1
79      1
71      1
74      1
77      1
20      1
Name: buildUpPlayPassing, dtype: int64



buildUpPlayPassingClass
Mixed    1236
Short     128
Long       94
Name: buildUpPlayPassingClass, dtype: int64



buildUpPlayPositioningClass
Organised    1386
Free Form      72
Name: buildUpPlayPositioningClass, dtype: int64



chanceCreationPassing
50    109
55     94
52     90
53     76
48     71
49     68
45     61
70     60
65     49
54     48
60     47
56     43
40     41
47     40
35     40
67     35
68     34
30     33
38     32
51     31
66     28
62     24
57     23
59     22
42     21
37     20
39     20
46     17
58     17
44     16
41     15
63     15
69     15
64     14
43     13
36     10
72     10
32      8
34      8
61      8
71      7
33      6
77      5
28      4
73      3
31      3
29      1
80      1
76      1
21      1
Name: chanceCreationPassing, dtype: int64



chanceCreationPassingClass
Normal    1231
Risky      171
Safe        56
Name: chanceCreationPassingClass, dtype: int64



chanceCreationCrossing
50    113
70     78
52     77
53     69
65     67
54     63
60     61
55     51
40     48
66     43
48     41
45     40
51     39
49     37
35     34
67     33
56     33
62     32
44     31
58     30
68     30
42     28
61     27
57     27
59     25
64     24
47     21
30     20
63     19
34     18
38     18
37     17
69     17
43     16
72     15
36     14
33     12
39     12
46     10
41     10
73      9
71      7
31      7
76      6
74      5
78      4
77      3
25      3
26      2
27      2
80      2
32      2
75      2
20      2
24      1
23      1
Name: chanceCreationCrossing, dtype: int64



chanceCreationCrossingClass
Normal    1195
Lots       211
Little      52
Name: chanceCreationCrossingClass, dtype: int64



chanceCreationShooting
50    127
70     98
52     95
55     91
60     82
53     74
65     67
54     65
48     47
46     44
56     42
49     40
64     33
57     29
51     28
68     26
66     26
47     25
40     25
37     25
67     24
45     24
58     22
35     22
39     20
42     20
59     19
38     18
61     17
63     17
44     17
62     16
34     14
69     13
41     13
36     12
72     11
32     10
30      9
43      8
73      6
31      4
23      4
80      4
71      4
75      4
33      3
79      2
29      2
28      2
78      2
74      1
76      1
77      1
27      1
24      1
22      1
Name: chanceCreationShooting, dtype: int64



chanceCreationShootingClass
Normal    1224
Lots       197
Little      37
Name: chanceCreationShootingClass, dtype: int64



chanceCreationPositioningClass
Organised    1309
Free Form     149
Name: chanceCreationPositioningClass, dtype: int64



defencePressure
45    110
47     92
30     81
50     72
48     59
43     59
46     56
49     56
35     56
40     55
70     54
39     49
60     47
44     45
37     44
42     42
38     42
36     42
55     41
58     36
51     29
59     28
57     24
65     22
52     22
41     20
33     19
54     18
34     17
53     15
32     12
61     11
25     11
56     10
63      8
64      8
29      8
31      6
23      5
62      5
68      5
66      3
28      3
27      3
26      3
24      3
67      1
72      1
Name: defencePressure, dtype: int64



defencePressureClass
Medium    1243
Deep       154
High        61
Name: defencePressureClass, dtype: int64



defenceAggression
45    130
47     88
70     85
50     85
55     73
44     70
48     68
30     62
60     61
43     60
49     54
46     51
52     48
58     41
40     39
57     38
42     36
51     36
53     31
65     30
56     27
41     26
54     23
37     23
34     23
39     21
38     20
59     20
35     16
62     12
63      7
61      7
67      7
32      7
66      6
33      5
31      4
68      4
24      3
36      2
64      2
28      2
71      1
69      1
29      1
27      1
72      1
Name: defenceAggression, dtype: int64



defenceAggressionClass
Press      1274
Double       99
Contain      85
Name: defenceAggressionClass, dtype: int64



defenceTeamWidth
50    142
52    100
53     76
55     75
70     71
65     71
49     62
51     61
54     58
48     57
30     53
47     45
60     45
45     45
62     35
57     35
56     35
40     33
58     31
35     28
46     27
44     25
59     23
39     23
63     20
64     19
61     19
68     17
67     17
42     17
66     16
41     15
38     13
37     13
36      9
34      7
43      6
69      5
33      3
32      3
73      1
31      1
29      1
Name: defenceTeamWidth, dtype: int64



defenceTeamWidthClass
Normal    1286
Wide       111
Narrow      61
Name: defenceTeamWidthClass, dtype: int64



defenceDefenderLineClass
Cover           1362
Offside Trap      96
Name: defenceDefenderLineClass, dtype: int64

In [46]:
# convert dates to year in epl_matches and team_attr
temp['date'] = pd.to_datetime(temp['date'])
temp['year'] = temp['date'].map(get_year)

epl_matches['year'] = epl_matches['date'].map(get_year)

In [47]:
columns = ['id', 'team_fifa_api_id', 'team_api_id', 'date', 'buildUpPlaySpeed', 
          'buildUpPlayPassing', 'chanceCreationPassing', 'chanceCreationCrossing',
          'chanceCreationShooting', 'defencePressure', 'defenceAggression',
          'defenceTeamWidth', 'year']
temp = temp[columns]

In [48]:
epl_matches[epl_matches['home_team_api_id'] == 8191]

,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,VCA,GBH,GBD,GBA,BSH,BSD,BSA,home_team,away_team,year
105,2014/2015,14,2014-12-02,1724113,8191,10261,1.0,2.0,4.0,6.0,...,2.80,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Newcastle United,2014
239,2009/2010,25,2010-02-06,659020,8191,8654,1.0,2.0,4.0,6.0,...,2.75,2.50,3.20,2.75,2.60,3.25,2.75,Burnley,West Ham United,2010
240,2014/2015,8,2014-10-18,1724053,8191,8654,1.0,2.0,4.0,6.0,...,2.70,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,West Ham United,2014
329,2009/2010,11,2009-10-31,658713,8191,8667,1.0,2.0,4.0,6.0,...,3.80,1.90,3.30,4.00,1.95,3.30,3.75,Burnley,Hull City,2009
330,2014/2015,11,2014-11-08,1724082,8191,8667,1.0,2.0,4.0,6.0,...,3.00,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Hull City,2014
464,2009/2010,21,2010-03-10,658942,8191,10194,1.0,2.0,4.0,6.0,...,2.88,2.50,3.20,2.75,2.50,3.20,2.70,Burnley,Stoke City,2010
465,2014/2015,37,2015-05-16,1724342,8191,10194,1.0,2.0,4.0,6.0,...,3.00,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Stoke City,2015
616,2009/2010,6,2009-09-19,658631,8191,8472,1.0,2.0,4.0,6.0,...,2.50,2.75,3.20,2.50,2.90,3.20,2.40,Burnley,Sunderland,2009
617,2014/2015,5,2014-09-20,1724023,8191,8472,1.0,2.0,4.0,6.0,...,3.12,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Sunderland,2014
729,2009/2010,10,2009-10-24,658699,8191,8528,1.0,2.0,4.0,6.0,...,2.80,2.35,3.25,2.90,2.40,3.25,2.90,Burnley,Wigan Athletic,2009
882,2009/2010,24,2010-01-30,658973,8191,8455,1.0,4.0,6.0,8.0,...,1.25,11.00,5.00,1.27,12.00,4.75,1.29,Burnley,Chelsea,2010
883,2014/2015,1,2014-08-18,1723983,8191,8455,1.0,2.0,4.0,6.0,...,1.40,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Chelsea,2014
1034,2009/2010,3,2009-08-23,658601,8191,8668,1.0,2.0,4.0,6.0,...,2.25,3.30,3.25,2.15,3.30,3.20,2.25,Burnley,Everton,2009
1035,2014/2015,9,2014-10-26,1724062,8191,8668,1.0,2.0,4.0,6.0,...,1.85,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Everton,2014
1133,2009/2010,32,2010-03-28,659137,8191,8655,1.0,2.0,4.0,6.0,...,2.75,2.60,3.25,2.60,2.62,3.25,2.62,Burnley,Blackburn Rovers,2010
1176,2009/2010,28,2010-02-27,659096,8191,8462,1.0,2.0,4.0,6.0,...,3.75,2.10,3.25,3.40,2.15,3.20,3.40,Burnley,Portsmouth,2010
1300,2009/2010,36,2010-04-25,659175,8191,8650,1.0,2.0,4.0,6.0,...,1.57,5.50,3.75,1.60,6.00,3.75,1.57,Burnley,Liverpool,2010
1301,2014/2015,18,2014-12-26,1724153,8191,8650,1.0,2.0,4.0,6.0,...,1.83,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Liverpool,2014
1427,2009/2010,16,2009-12-12,658826,8191,9879,1.0,2.0,4.0,6.0,...,2.75,2.60,3.20,2.60,2.60,3.25,2.75,Burnley,Fulham,2009
1566,2009/2010,13,2009-11-21,658792,8191,10252,1.0,2.0,4.0,6.0,...,2.20,3.10,3.30,2.20,3.30,3.25,2.20,Burnley,Aston Villa,2009
1567,2014/2015,13,2014-11-29,1724102,8191,10252,1.0,2.0,4.0,6.0,...,3.90,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Aston Villa,2014
1718,2009/2010,38,2010-05-09,659372,8191,8586,1.0,2.0,4.0,6.0,...,1.50,5.75,4.00,1.53,6.00,4.00,1.53,Burnley,Tottenham Hotspur,2010
1719,2014/2015,31,2015-04-05,1724283,8191,8586,1.0,2.0,4.0,6.0,...,2.20,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Tottenham Hotspur,2015
1870,2009/2010,33,2010-04-03,659145,8191,8456,1.0,2.0,4.0,6.0,...,1.67,4.75,3.50,1.73,4.50,3.60,1.73,Burnley,Manchester City,2010
1871,2014/2015,29,2015-03-14,1724263,8191,8456,1.0,2.0,4.0,6.0,...,1.45,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Manchester City,2015
2022,2009/2010,17,2009-12-16,658834,8191,9825,1.0,2.0,4.0,6.0,...,1.44,6.00,4.00,1.50,6.50,4.00,1.50,Burnley,Arsenal,2009
2023,2014/2015,32,2015-04-11,1724292,8191,9825,1.0,2.0,4.0,6.0,...,1.57,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Arsenal,2015
2121,2009/2010,19,2009-12-26,658923,8191,8559,1.0,2.0,4.0,6.0,...,3.00,2.35,3.10,3.00,2.38,3.25,3.00,Burnley,Bolton Wanderers,2009
2233,2014/2015,24,2015-02-08,1724213,8191,8659,1.0,2.0,4.0,6.0,...,3.00,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,West Bromwich Albion,2015
2297,2009/2010,8,2009-10-03,658684,8191,8658,1.0,2.0,4.0,6.0,...,3.20,2.25,3.25,3.10,2.25,3.20,3.30,Burnley,Birmingham City,2009
2349,2009/2010,30,2010-03-13,659116,8191,8602,1.0,2.0,4.0,6.0,...,3.25,2.20,3.20,3.20,2.38,3.20,3.00,Burnley,Wolverhampton Wanderers,2010
2459,2014/2015,21,2015-01-10,1724183,8191,10172,1.0,2.0,4.0,6.0,...,3.60,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Queens Park Rangers,2015
2544,2014/2015,27,2015-02-28,1724243,8191,10003,1.0,2.0,4.0,6.0,...,2.90,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Swansea City,2015
2698,2014/2015,16,2014-12-13,1724133,8191,8466,1.0,2.0,4.0,6.0,...,1.80,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Southampton,2014
2797,2014/2015,22,2015-01-17,1724193,8191,9826,1.0,2.0,4.0,6.0,...,3.12,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Crystal Palace,2015
2839,2014/2015,34,2015-04-25,1724313,8191,8197,1.0,2.0,4.0,6.0,...,3.00,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Leicester City,2015
3010,2009/2010,2,2009-08-19,658589,8191,10260,1.0,2.0,4.0,6.0,...,1.33,10.00,4.75,1.30,9.00,4.75,1.33,Burnley,Manchester United,2009
3011,2014/2015,3,2014-08-30,1724003,8191,10260,1.0,2.0,4.0,6.0,...,1.62,NaN,NaN,NaN,NaN,NaN,NaN,Burnley,Manchester United,2014

In [49]:
epl_matches_with_team_data = pd.merge(epl_matches,temp,left_on=['year', 'home_team_api_id'], 
                                      right_on=['year', 'team_api_id'])

In [50]:
epl_matches_with_team_data = pd.merge(epl_matches_with_team_data,temp,left_on=['year', 'away_team_api_id'], 
                                      right_on=['year', 'team_api_id'])
epl_matches_with_team_data.head()

,season,stage,date_x,match_api_id,home_team_api_id,away_team_api_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,team_api_id_y,date,buildUpPlaySpeed_y,buildUpPlayPassing_y,chanceCreationPassing_y,chanceCreationCrossing_y,chanceCreationShooting_y,defencePressure_y,defenceAggression_y,defenceTeamWidth_y
0,2010/2011,1,2010-08-16,839802,10260,10261,1.0,2.0,4.0,6.0,...,10261,2010-02-22,70,60,65,70,60,45,65,45
1,2010/2011,11,2010-11-07,839915,9825,10261,1.0,2.0,4.0,6.0,...,10261,2010-02-22,70,60,65,70,60,45,65,45
2,2010/2011,9,2010-10-23,839897,8654,10261,1.0,2.0,4.0,6.0,...,10261,2010-02-22,70,60,65,70,60,45,65,45
3,2010/2011,5,2010-09-18,839858,8668,10261,1.0,2.0,4.0,6.0,...,10261,2010-02-22,70,60,65,70,60,45,65,45
4,2010/2011,14,2010-11-20,839951,8559,10261,1.0,2.0,4.0,6.0,...,10261,2010-02-22,70,60,65,70,60,45,65,45

In [51]:
epl_matches_with_team_data.columns.values

array(['season', 'stage', 'date_x', 'match_api_id', 'home_team_api_id',
       'away_team_api_id', 'home_player_X1', 'home_player_X2',
       'home_player_X3', 'home_player_X4', 'home_player_X5',
       'home_player_X6', 'home_player_X7', 'home_player_X8',
       'home_player_X9', 'home_player_X10', 'home_player_X11',
       'away_player_X1', 'away_player_X2', 'away_player_X3',
       'away_player_X4', 'away_player_X5', 'away_player_X6',
       'away_player_X7', 'away_player_X8', 'away_player_X9',
       'away_player_X10', 'away_player_X11', 'home_player_Y1',
       'home_player_Y2', 'home_player_Y3', 'home_player_Y4',
       'home_player_Y5', 'home_player_Y6', 'home_player_Y7',
       'home_player_Y8', 'home_player_Y9', 'home_player_Y10',
       'home_player_Y11', 'away_player_Y1', 'away_player_Y2',
       'away_player_Y3', 'away_player_Y4', 'away_player_Y5',
       'away_player_Y6', 'away_player_Y7', 'away_player_Y8',
       'away_player_Y9', 'away_player_Y10', 'away_player_Y11',
       'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4',
       'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8',
       'home_player_9', 'home_player_10', 'home_player_11',
       'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4',
       'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8',
       'away_player_9', 'away_player_10', 'away_player_11', 'goal',
       'shoton', 'shotoff', 'foulcommit', 'card', 'cross', 'corner',
       'possession', 'B365H', 'B365D', 'B365A', 'BWH', 'BWD', 'BWA', 'IWH',
       'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH', 'PSD', 'PSA', 'WHH',
       'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH', 'VCD', 'VCA', 'GBH',
       'GBD', 'GBA', 'BSH', 'BSD', 'BSA', 'home_team', 'away_team', 'year',
       'id_x', 'team_fifa_api_id_x', 'team_api_id_x', 'date_y',
       'buildUpPlaySpeed_x', 'buildUpPlayPassing_x',
       'chanceCreationPassing_x', 'chanceCreationCrossing_x',
       'chanceCreationShooting_x', 'defencePressure_x',
       'defenceAggression_x', 'defenceTeamWidth_x', 'id_y',
       'team_fifa_api_id_y', 'team_api_id_y', 'date', 'buildUpPlaySpeed_y',
       'buildUpPlayPassing_y', 'chanceCreationPassing_y',
       'chanceCreationCrossing_y', 'chanceCreationShooting_y',
       'defencePressure_y', 'defenceAggression_y', 'defenceTeamWidth_y'], dtype=object)

In [52]:
drop_columns = ['id_x', 'id_y', 'date_y', 'date', 'team_fifa_api_id_x', 'team_fifa_api_id_y', 'team_api_id_x', 'team_api_id_y', 'year']
epl_matches_with_team_data.drop(drop_columns,axis=1,inplace=True)

In [53]:
train_with_team_attr = pd.merge(epl_matches_with_team_data,minute_data,left_on=['date_x','home_team','away_team'],right_on=['date','home','away'])

In [54]:
with open('./data/train/train_data_with_team_attr.pkl','wb') as file:
    pkl.dump(train_with_team_attr,file)

In [55]:
# train.head(200)
with open("./data/train/train_data.pkl","wb") as file:
    pkl.dump(train,file)

In [56]:
train_with_team_attr.head()

,season,stage,date_x,match_api_id,home_team_api_id,away_team_api_id,home_player_X1,home_player_X2,home_player_X3,home_player_X4,...,minute,player_name,event_type,event_datacol,H_Goal,A_Goal,H_Y_Card,A_Y_Card,H_R_Card,A_R_Card
0,2010/2011,1,2010-08-16,839802,10260,10261,1.0,2.0,4.0,6.0,...,0,NaN,NaN,NaN,0,0,0,0,0,0
1,2010/2011,1,2010-08-16,839802,10260,10261,1.0,2.0,4.0,6.0,...,1,NaN,NaN,NaN,0,0,0,0,0,0
2,2010/2011,1,2010-08-16,839802,10260,10261,1.0,2.0,4.0,6.0,...,2,NaN,NaN,NaN,0,0,0,0,0,0
3,2010/2011,1,2010-08-16,839802,10260,10261,1.0,2.0,4.0,6.0,...,3,NaN,NaN,NaN,0,0,0,0,0,0
4,2010/2011,1,2010-08-16,839802,10260,10261,1.0,2.0,4.0,6.0,...,4,NaN,NaN,NaN,0,0,0,0,0,0

## Preparing data for adding overall rating of team players

### 1. Loading Data

In [59]:
db_file = "./data/database.sqlite"
try:
    conn = sqlite3.connect(db_file)
except Exception as e:
    print(e)
    
cur  = conn.cursor()
tables = cur.execute("SELECT name FROM sqlite_master WHERE type='table'")

player_attr = pd.read_sql_query("SELECT * from Player_Attributes",conn)

In [60]:
with open('./data/train/train_data_with_team_attr.pkl','rb') as file:
    train_with_team_attr = pkl.load(file)

***
### 2. Dropping unnecessary columns

In [61]:
player_attr['date'] = pd.to_datetime(player_attr.date)
columns = ['player_api_id', 'date', 'overall_rating', 'potential']
player_data = player_attr[columns]
del player_attr

In [62]:
columns = [
    'home_player_X1', 'home_player_X2',
       'home_player_X3', 'home_player_X4', 'home_player_X5',
       'home_player_X6', 'home_player_X7', 'home_player_X8',
       'home_player_X9', 'home_player_X10', 'home_player_X11',
       'away_player_X1', 'away_player_X2', 'away_player_X3',
       'away_player_X4', 'away_player_X5', 'away_player_X6',
       'away_player_X7', 'away_player_X8', 'away_player_X9',
       'away_player_X10', 'away_player_X11', 'home_player_Y1',
       'home_player_Y2', 'home_player_Y3', 'home_player_Y4',
       'home_player_Y5', 'home_player_Y6', 'home_player_Y7',
       'home_player_Y8', 'home_player_Y9', 'home_player_Y10',
       'home_player_Y11', 'away_player_Y1', 'away_player_Y2',
       'away_player_Y3', 'away_player_Y4', 'away_player_Y5',
       'away_player_Y6', 'away_player_Y7', 'away_player_Y8',
       'away_player_Y9', 'away_player_Y10', 'away_player_Y11'
]
train_with_team_attr.drop(columns, inplace=True, axis=1)

***
### 3. Making the data type consistent

In [63]:
player_data['year'] = player_data['date'].map(get_year)
player_data.drop(['date'], axis=1, inplace=True)

In [64]:
# player_data.year_x
player_data['year'] = player_data.year.astype('float32')

player_data['player_api_id'] = player_data['player_api_id'].astype('float32')

In [65]:
player_data.drop_duplicates(inplace=True, subset=['year', 'player_api_id'])

In [66]:
train_with_team_attr['year'] = train_with_team_attr['date_x'].map(get_year).astype('float32')
# train_with_team_attr.year

In [67]:
train_with_team_attr.shape

(152166, 102)

***
### 4. Merging the data

In [68]:
home_player_columns = [
     'home_player_1', 'home_player_2', 'home_player_3', 'home_player_4',
       'home_player_5', 'home_player_6', 'home_player_7', 'home_player_8',
       'home_player_9', 'home_player_10', 'home_player_11',
]
away_player_columns = [
    'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4',
       'away_player_5', 'away_player_6', 'away_player_7', 'away_player_8',
       'away_player_9', 'away_player_10', 'away_player_11'
]

In [69]:
temp = train_with_team_attr

In [70]:
temp['home_avg_player_rating'] = 0
temp['home_avg_player_potential'] = 0
temp['away_avg_player_rating'] = 0
temp['away_avg_player_potential'] = 0

In [71]:
# player_id = player_columns[0]
for player_id in home_player_columns:
    temp = pd.merge(temp, player_data, how='left', left_on=['year', player_id], right_on=['year', 'player_api_id'])
    temp['home_avg_player_rating'] += temp['overall_rating']
    temp['home_avg_player_rating'] += temp['potential']
    # temp.overall_rating
    temp.drop(['overall_rating'], axis=1, inplace=True)
    temp.drop(['potential'], axis=1, inplace=True)
    temp.drop(['player_api_id'], axis=1, inplace=True)

In [72]:
for player_id in away_player_columns:
    temp = pd.merge(temp, player_data, how='left', left_on=['year', player_id], right_on=['year', 'player_api_id'])
    temp['away_avg_player_rating'] += temp['overall_rating']
    temp['away_avg_player_rating'] += temp['potential']
    # temp.overall_rating
    temp.drop(['overall_rating'], axis=1, inplace=True)
    temp.drop(['potential'], axis=1, inplace=True)
    temp.drop(['player_api_id'], axis=1, inplace=True)

In [73]:
temp.columns.values

array(['season', 'stage', 'date_x', 'match_api_id', 'home_team_api_id',
       'away_team_api_id', 'home_player_1', 'home_player_2',
       'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
       'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10',
       'home_player_11', 'away_player_1', 'away_player_2', 'away_player_3',
       'away_player_4', 'away_player_5', 'away_player_6', 'away_player_7',
       'away_player_8', 'away_player_9', 'away_player_10',
       'away_player_11', 'goal', 'shoton', 'shotoff', 'foulcommit', 'card',
       'cross', 'corner', 'possession', 'B365H', 'B365D', 'B365A', 'BWH',
       'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD', 'LBA', 'PSH',
       'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'SJH', 'SJD', 'SJA', 'VCH',
       'VCD', 'VCA', 'GBH', 'GBD', 'GBA', 'BSH', 'BSD', 'BSA', 'home_team',
       'away_team', 'buildUpPlaySpeed_x', 'buildUpPlayPassing_x',
       'chanceCreationPassing_x', 'chanceCreationCrossing_x',
       'chanceCreationShooting_x', 'defencePressure_x',
       'defenceAggression_x', 'defenceTeamWidth_x', 'buildUpPlaySpeed_y',
       'buildUpPlayPassing_y', 'chanceCreationPassing_y',
       'chanceCreationCrossing_y', 'chanceCreationShooting_y',
       'defencePressure_y', 'defenceAggression_y', 'defenceTeamWidth_y',
       'week', 'home', 'away', 'date', 'winner', 'score', 'match_id',
       'minute', 'player_name', 'event_type', 'event_datacol', 'H_Goal',
       'A_Goal', 'H_Y_Card', 'A_Y_Card', 'H_R_Card', 'A_R_Card', 'year',
       'home_avg_player_rating', 'home_avg_player_potential',
       'away_avg_player_rating', 'away_avg_player_potential'], dtype=object)

In [74]:
temp['home_avg_player_rating'] = temp['home_avg_player_rating']/len(home_player_columns)
temp['home_avg_player_potential'] = temp['home_avg_player_potential']/len(home_player_columns)

In [75]:
temp['away_avg_player_rating'] = temp['away_avg_player_rating']/len(away_player_columns)
temp['away_avg_player_potential'] = temp['away_avg_player_potential']/len(away_player_columns)

In [76]:
# player_data[['year_x', 'player_api_id']].head()
# train_with_team_attr
temp.shape

(152166, 106)

In [77]:
# for column in temp.columns.values:
# print temp['home_avg_player_rating'].value_counts(dropna=False)

***
### 5. Imputing NaN values

In [78]:
temp['home_avg_player_rating'].fillna(temp['home_avg_player_rating'].mean(), inplace=True)

In [79]:
temp['home_avg_player_potential'].fillna(temp['home_avg_player_potential'].mean(), inplace=True)

In [80]:
temp['away_avg_player_rating'].fillna(temp['away_avg_player_rating'].mean(), inplace=True)

In [81]:
temp['away_avg_player_potential'].fillna(temp['away_avg_player_potential'].mean(), inplace=True)

***
### 6. Saving the new merged data

In [83]:
if not os.path.exists('./data/train/train_data.pkl'):
    with open('./data/train/train_data.pkl', 'wb') as f:
        pkl.dump(temp, f)

In [86]:
# with open('./data/train/train_data_with_team_attr.pkl', 'rb') as f:
#         t = pkl.load(f)
        
# t